.card{

	perspective:1500px;
	-moz-perspective: 1500px;
	-webkit-perspective: 1500px;
	position: relative;
	height: 500px;
	
	&__side{
	font-size:20px;
	height: 500px;
	transition:all .8s ease;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 3px;
	box-shadow: 0 15px 40px rgba($color-black,.15);
	overflow: hidden;

	&--front{
		background-color: white;
	}
	&--back{
		transform: rotateY(180deg);

			&-1{
				background-image: linear-gradient(
					to right bottom,
					$color-secondary-light,
					$color-secondary-dark);
			}

	}
	}

	&:hover &__side--front{
		transform:rotateY(-180deg);
	}
		&:hover &__side--back{
		transform:rotateY(0deg);
	}

	&__picture{
		
		background-size: cover;
			background-blend-mode:screen;
			height: 230px;
		  clip-path: polygon(0 0, 100% 0,100% 85%,0 100%);

		&--1{
		
		background-image: linear-gradient(to right bottom,
		$color-secondary-light,
    $color-secondary-dark),
		url('../../img/nat-5.jpg');
	}

		&--2{
		
		background-image: linear-gradient(to right bottom,
		$color-secondary-light,
    $color-secondary-dark),
		url('../../img/nat-5.jpg');
	}

		&--3{
		
		background-image: linear-gradient(to right bottom,
		$color-secondary-light,
    $color-secondary-dark),
		url('../../img/nat-5.jpg');
	}
}

&__heading{

	font-size: 28px;
		font-weight: 300;
		text-transform: uppercase;
		color: #fff;
		position: absolute;
		top:120px;
		right: 20px;
		text-align: right;
		width:66%;
}
  &__heading-span{

			padding:10px 15px;
		

		&--1{

			background-color:orangered;
		}
	}

	 &__detail {
        padding: 30px;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 15px;
                padding: 10px;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
		}
		
		&__cta{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			width: 90%;
			text-align: center;
		}

		&__price-box{

			text-align: center;
			color:#fff;
			margin-bottom: 80px;
		}
		&__price-only{

			font-size:24px;
			text-transform:uppercase;
			font-weight: 300;
		}
		&__price-value{

			font-size: 60px;
			font-weight: 300;
		}
}